.calendar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* Keep hidden initially */
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparent overlay */
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    /* You can adjust width as needed */
    max-width: 600px;
    /* Max width to prevent it from being too wide */
}

/* Calendar CSS Starts */
.calendar .modal-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #103076;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.calendar .modal-close-btn i {
    font-size: 16px;
}

.calendar button {
    cursor: pointer;
}

.calendar .continue-btn {
    width: 175px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #00cd92;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 10px 20px;
}

.continue-btn span {
    display: block;
}

.continue-btn span:first-child {
    font-weight: 700;
    font-size: 1rem;
    line-height: 17px;
}

.continue-btn span:last-child {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 17px;
}

#calendar-container {
    position: relative;
    margin: 20px;
}

/* Calendar CSS Ends */
/* Custom styles for the datepicker */
.datepicker {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 8px 8px 40px 5px rgba(0, 0, 0, 0.08);
    color: #484c55;
    font-size: 14px;
    line-height: 14px;
}

.datepicker__info--selected,
.datepicker__info--error,
.datepicker__info--help,
.datepicker__info--feedback {
    display: none !important;
}

.datepicker__month-button--prev:after {
    background-image: none !important;
    content: '<' !important;
}

.datepicker__month-button--next:after {
    background-image: none !important;
    content: '>' !important;
}

.calendar .datepicker__month-button {
    background-color: #103076;
    color: #fff !important;
    height: 26px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
}

.datepicker__month-day--today {
    box-shadow: inset 0px 0px 0px 1px rgba(16, 48, 115, 1) !important;
    background-color: #FFFFFF !important;
    color: #1a1a1a !important;
    border-radius: 5px !important;
}

.datepicker__month-day--today.datepickermonth-day--selected {
    color: #fff !important;
    background-color: #103076 !important;
    box-shadow: inset 0px 0px 0px 1px rgba(16, 48, 115, 1) !important;
}

.datepicker__day {
    color: #1a1a1a;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 2px;
    transition: background-color 0.3s;
}

.datepicker__month-day--first-day-selected,
.datepicker__month-day--last-day-selected {
    background-color: #003970 !important;
    color: #fff;
}

.datepicker__month-day--first-day-selected {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;

}

.datepicker__month-day--last-day-selected {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.datepicker__day:hover {
    background-color: #007bff;
    /* Custom background color on hover */
    color: #fff;
    /* Custom text color on hover */
}

.datepicker__day--disabled {
    color: #999;
    /* Custom text color for disabled days */
    cursor: not-allowed;
    /* Custom cursor for disabled days */
}

/* Hide the input but keep it functional */
.input-calendar {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.datepicker__month-day--invalid {
    color: #c5cce1;
}

/* Initially hide the modal with opacity 0 */
#calendarModal {
    display: none;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* When modal is opened, it fades in and scales up */
#calendarModal.show {
    opacity: 1;
    transform: scale(1);
}

@media (min-width: 768px) {
    .datepicker {
        width: auto;
    }
}